@font-face {
    font-family: 'Aleo Light';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Light'), url('../fonts/aleo/Aleo-Light.woff') format('woff');
}

@font-face {
    font-family: 'Aleo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Regular'), url('../fonts/aleo/Aleo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Aleo Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Bold'), url('../fonts/aleo/Aleo-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Aleo Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Bold Italic'), url('../fonts/aleo/Aleo-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Aleo Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Italic'), url('../fonts/aleo/Aleo-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Aleo Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Aleo Light Italic'), url('../fonts/aleo/Aleo-LightItalic.woff') format('woff');
}



@font-face {
    font-family: 'WC Mano Negra Bta';
    font-style: normal;
    font-weight: normal;
    src: local('WC Mano Negra Bta'), url('../fonts/WCManoNegraBta/WCManoNegraBta.woff') format('woff');
}

@font-face {
    font-family: 'WC Mano Negra Bta Bold';
    font-style: normal;
    font-weight: normal;
    src: local('WC Mano Negra Bta Bold'), url('../fonts/WCManoNegraBta/WCManoNegraBoldBta.woff') format('woff');
}





body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 1100px;
    margin: 0 auto;
}

.header-logo {
    display: inline-block;
    background: url("../images/logo.png") no-repeat;
    height: 28px;
    width: 81px;
}

.header-menu {
    font-family: 'Aleo Regular';
    font-size: 14px;
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-menu-link {
    text-decoration: none;
    color: #3b3b3b;
}



.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 570px;
    background: url(../images/1stBackground.jpg) no-repeat;
    background-position-y: 35%;
    background-size: cover;
    opacity: 0.8;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.5) inset;
    border-bottom: solid 4px #f34949;
}

.banner-title {
    font-family: 'WC Mano Negra Bta';
    font-size: 100px;
    font-weight: normal;
    letter-spacing: -5px;
}

.banner-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Aleo Regular';
    font-size: 16px;
    letter-spacing: 1px;
}

.banner-subtitle:before,
.banner-subtitle:after {
    content: "";
    display: inline-block;
    border-top: solid 1px #ffffff;
    width: 40px;
    margin: 0 25px;
}




.menu {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20pt;
    margin: 0 auto;
    color: #ffffff;
    width: 1100px;
}

.menu-title {
    margin: 0 auto;
    font-family: 'Aleo Regular';
    background-color: #f34949;
    width: 159px;
    height: 61px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.menu-title:before {
    content: "";
    border-left: solid 79px #f34949;
    border-right: solid 80px #f34949;
    border-top: solid 0 transparent;
    border-bottom: solid 10px transparent;
    width: 0;
    height: 0;
    margin: 35px auto;
    border-radius: 0 0 2px 2px;
    position: absolute;
}

.menu-units {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
}

.menu-units .col {
    width: 44%;
    margin: 0 3px 0 3px;
}

.menu-unit {
    margin: 42px -3px 42px 0;
}

.menu-unit-info {
    font-family: 'Aleo Regular';
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-unit-info-name {
    font-size: 18px;
    flex: 1 1 auto;
}

.menu-unit-info-line {
    background-color: #b7b7b7;
    flex: 5 1 auto;
    height: 1px;
}

.menu-unit-info-coast {
    font-size: 16px;
    flex: 1 1 auto;
    text-align: end;
}

.menu-unit-contents {
    color: #b7b7b7;
    font-size: 12px;
    font-family: 'Aleo Light Italic';
    letter-spacing: 1px;
}

.menu-btn {
    margin-top: 35px;
}

.menu-btn .arrow {
    background-image: url("../images/arrow-down.png");
    width: 10px;
    height: 7px;
}

.menu-load {
    font-size: 14px;
    color: #b7b7b7;
    background-color: #ffffff;
    border: solid 1px rgba(183, 183, 183, 0.39);
    border-radius: 2px;
    font-family: 'Aleo Regular';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 135px;
    height: 35px;
}

.sep {
    width: 1px;
    height: 10px;
    background-color: #b7b7b7;
}



.dishes {
    width: 1100px;
    margin: 186px auto;
}

.dishes-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #3b3b3b;
    font-family: 'Aleo Bold';
    font-size: 20px;
    margin-bottom: 73px;
    letter-spacing: 1px;
}

.dishes-title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dishes-title-line {
    background-color: #b7b7b7;
    height: 1px;
    width: 200px;
    margin-left: 18px;
}

.dishes-slideshow {
    width: 69px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.circle {
    background-color: rgba(183, 183, 183, 0.57);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.circle.active {
    background-color: #3b3b3b;
}

.dishes-food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dishes-food-unit {}

.dishes-food-unit-ratio {
    display: flex;
    flex-direction: row;
}

.dishes-food-unit-ratio .star {
    background-image: url(../images/star.png);
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.dishes-food-unit-ratio .star.active {
    background-image: url("../images/star-active.png");
}

.dishes-food-unit-photo {
    width: 230px;
    height: 230px;
    overflow: hidden;

}

.dishes-food-unit-info {
    color: #555555;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-family: 'Aleo Light';
    letter-spacing: 1px;
}

.dishes-food-unit-info-name {}

.dishes-food-unit-info-coast {}



.gallery {
    width: 1100px;
    margin: 200px auto 90px auto;
}

.gallery-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #3b3b3b;
    font-size: 20px;
    margin-bottom: 75px;
    letter-spacing: 2px;
    font-family: 'Aleo Bold';
}

.gallery-title-text {}

.gallery-title-line {
    background-color: #b7b7b7;
    height: 1px;
    width: 250px;
    margin-left: 25px;
}

.gallery-photos {
    height: 543px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.gallery-photos .large {
    flex: 1 1 auto;
    width: 40%;
}

.gallery-photos .large img {
    height: 100%;
}

.gallery-photos .two-little {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery-photos .two-little .little-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery-photos img {
    width: 100%;
}



.footer {
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 60px 0;
    width: 100%;
}

.footer-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.NY-rest {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    letter-spacing: 1px;
}

.NY-rest-title {
    font-family: 'Aleo Regular';
}

.NY-rest-adr {
    font-family: 'Aleo Light';
    margin-top: 10px;
}

.NY-rest-phone {
    font-family: 'Aleo Bold';
    margin-top: 10px;
}

.france-rest {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    letter-spacing: 1px;
}

.france-rest-title {
    font-family: 'Aleo Regular';
}

.france-rest-adr {
    font-family: 'Aleo Light';
    margin-top: 10px;
}

.france-rest-phone {
    font-family: 'Aleo Bold';
    margin-top: 10px;
}

.footer-links {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Aleo Regular';
    letter-spacing: 1px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 14px;
}

.footer-rights {}

.footer-rights-logo {
    display: inline-block;
    background-image: url("../images/logo-white.png");
    width: 81px;
    height: 28px;
}

.footer-rights-text {
    font-family: 'Aleo Light';
    margin-top: 14px;
    letter-spacing: 1px;
    font-size: 14px;
}

.footer-rights-more {
    font-family: 'Aleo Light';
    margin-top: 14px;
    letter-spacing: 1px;
    font-size: 14px;
}

.footer-rights-more a {
    text-decoration: none;
    font-family: 'Aleo Bold';
    margin-top: 14px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
}

