body {
    margin: 0;
    padding: 0;
    font-family: "Aleo";
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 74%;
    margin: 0 auto;
}

.header-logo {
    font-family: "WC Mano Negra Bta";
    font-size: 40pt;
    letter-spacing: -5px;
}

.header-logo-word {
    color: #3a3a3a;
}

.header-logo-dots {
    color: #f34949;
    margin-left: 5px;
}

.header-menu {
    font-weight: normal;
    font-size: 14pt;
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-menu a {
    text-decoration: none;
    color: #3b3b3b;
}



.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 725px;
    background-image: url(images/1stBackground.jpg);
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: cover;
    opacity: 0.8;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.5) inset;
    border-bottom: solid 4px #f34949;
}

.line {
    background-color: #ffffff;
    height: 1px;
    width: 65px;
    margin: 0 25px;
}

.caption-header {
    font-family: "WC Mano Negra Bta";
    font-size: 92pt;
}

.caption-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 16pt;
}




.menu {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20pt;
    margin: 0 auto;
    color: #ffffff;
    width: 74%;
}

.menu-title {
    font-size: 20pt;
    margin: 0 auto;
    background-color: #f34949;
    width: 14%;
    height: 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.angles {
    border-left: solid 98px #f34949;
    border-right: solid 99px #f34949;
    border-top: solid 0 transparent;
    border-bottom: solid 15px transparent;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-radius: 0 0 2px 2px;
}

.menu-units {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
}

.menu-units .col {
    width: 44%;
    margin: 0 8px 0 5px;
}

.menu-unit {
    margin: 45px -3px 63px 0;
}

.menu-unit-info {
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-unit-info-name {
    font-size: 16pt;
    flex: 1 1 auto;
}

.menu-unit-info-line {
    background-color: #b7b7b7;
    flex: 5 1 auto;
    height: 1px;
}

.menu-unit-info-coast {
    font-size: 16pt;
    flex: 1 1 auto;
    text-align: end;
}

.menu-unit-contents {
    color: #b7b7b7;
    font-size: 12pt;
    font-weight: lighter;
    font-style: italic;
}

.menu-btn {
    text-align: center;
    margin-top: 40px;
}

.menu-load {
    font-size: 14pt;
    color: #b7b7b7;
    background-color: #ffffff;
    border: solid 2px rgba(183, 183, 183, 0.39);
    border-radius: 2px;
    padding: 10px 21px;
    font-family: "Aleo";
}

.sep {
    padding: 0 1px 0 0;
    background-color: #b7b7b7;
    margin: 12px;
}



.dishes {
    width: 74%;
    margin: 240px auto;
}

.dishes-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 92px;
    letter-spacing: 1px;
}

.dishes-title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dishes-title-line {
    background-color: #b7b7b7;
    height: 1px;
    width: 250px;
    margin-left: 25px;
}

.dishes-slideshow {
    width: 3em;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.circle {
    background-color: rgba(183, 183, 183, 0.57);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circle.active {
    background-color: #3b3b3b;
}

.dishes-food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dishes-food-unit {}

.dishes-food-unit-photo {
    width: 288px;
    height: 288px;
    overflow: hidden;

}

.dishes-food-unit-info {
    color: #555555;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 15px 0;
    font-size: 16pt;
}

.dishes-food-unit-info-name {}

.dishes-food-unit-info-coast {}

.dishes-food-unit-ratio {
    font-size: 12px;
    color: rgb( 222, 222, 222 );
}

.dishes-food-unit-ratio .active {
    color: rgb( 241, 223, 26 );
}




.gallery {
    width: 74%;
    margin: 244px auto;
}

.gallery-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 100px;
    letter-spacing: 3px;
}

.gallery-title-text {}

.gallery-title-line {
    background-color: #b7b7b7;
    height: 1px;
    width: 250px;
    margin-left: 25px;
}

.gallery-photos {
    height: 543px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.gallery-photos .large {
    flex: 1 1 auto;
    width: 40%;
}

.gallery-photos .large img {
    height: 100%;
}

.gallery-photos .two-little {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery-photos .two-little .little-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery-photos img {
    width: 100%;
}



.footer {
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 60px 0;
}

.footer-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74%;
    margin: 0 auto;
}

.NY-rest {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.NY-rest-title {
    font-weight: normal;
}

.NY-rest-adr {
    font-weight: lighter;
    margin-top: 8px;
}

.NY-rest-phone {
    font-weight: bold;
    margin-top: 8px;
}

.france-rest {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.france-rest-title {
    font-weight: normal;
}

.france-rest-adr {
    font-weight: lighter;
    margin-top: 8px;
}

.france-rest-phone {
    font-weight: bold;
    margin-top: 8px;
}

.footer-links {
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    margin-top: 8px;
}

.footer-rights {
    font-weight: lighter;
}

.footer-rights-logo {
    font-family: "WC Mano Negra Bta";
    font-size: 25pt;
    letter-spacing: -2px;
}

.footer-logo-text {}

.footer-logo-dots {
    color: #f34949;
    margin-left: 5px;
}

.footer-rights-text {
    margin-top: 14px;
}

.footer-rights-more {
    margin-top: 14px;
}

.footer-rights-more a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

